@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'surahnames';
    src: url('./assets/fonts/sura_names.woff2') format('truetype');
}

@font-face {
    font-family: 'P-1';
    src: url('./assets/fonts/p1.woff2') format('truetype');
}

@font-face {
    font-family: 'quran-font';
    src: url('./assets/fonts/QuranSurah02-d9lVZ.ttf') format('truetype');
}

@font-face {
    font-family: "NotoNastaliq";
    src: local("Noto Naskh Arabic"), local("Nafees Regular"),
        url("./assets/fonts/NotoNaskhArabic-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ProximaVara";
    src: url("./assets/fonts/ProximaVara.woff2");
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    direction: rtl;
    padding-top: 77px;
    font-family: "Noto Nastaliq Arabic", "NotoNastaliq", "ProximaVara",
        "Helvetica Neue", Helvetica, Arial;
    background-color: #1f2125;
    color: #e7e9ea;
}

.hero_bg {
    background-image: url(./assets/images/Hero_background.jpg);
    background-size: cover;
    filter: saturate(.1) brightness(.3) contrast(1.1);
}

.select ul {
    background: #1f2125;
    border: none;
    border-bottom: #2ca4ab solid 1px;
    box-shadow: none;
}


.toggleAudio:hover,
.social_icons:hover,
.download:hover,
.select ul li:hover:not([data-selected='true']),
.previous_surah:hover,
.next_surah:hover,
.book--buttons:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
}

.select ul li:hover,
.select ul li[data-selected='true'] {
    background-color: #2ca4ab;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    background: #eeeeeecc;
}

::-webkit-scrollbar-thumb {
    background: #2ca4ab;
}

.dot:first-child:before {
    animation-delay: 0ms;
}

.dot:first-child:after {
    animation-delay: 0ms;
}

.dot:last-child:before {
    animation-delay: 200ms;
}

.dot:last-child:after {
    animation-delay: 200ms;
}

.dot:before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    animation-name: dotHover;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82, 0, .26, 1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
    background: #2ca4ab;
    border-radius: 100%;
}

.dot:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: black;
    box-shadow: 0px 0px 1px black;
    opacity: .20;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -2px;
    border-radius: 100%;
    animation-name: dotShadow;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82, 0, .26, 1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
}

@keyframes dotShadow {
    0% {
        transform: scaleX(1);
    }

    50% {
        opacity: 0;
        transform: scaleX(.6);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes dotHover {
    0% {
        top: 0px;
    }

    50% {
        top: -50px;
        transform: scale(1.1);
    }

    100% {
        top: 0;
    }
}

.select ul::-webkit-scrollbar {
    width: 6px;
}

.select ul::-webkit-scrollbar-thumb {
    background-color: #2ca4ab;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

/* ****************************** */

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #2ca4ab;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg .line {
    stroke: red
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* ///////////////////// */

#page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#h3 {
    color: #fff;
}

#ring {
    width: 190px;
    height: 190px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
}

#ring:nth-child(1) {
    border-bottom: 8px solid rgb(240, 42, 230);
    animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
    from {
        transform: rotateX(50deg) rotateZ(110deg);
    }

    to {
        transform: rotateX(50deg) rotateZ(470deg);
    }
}

#ring:nth-child(2) {
    border-bottom: 8px solid rgb(240, 19, 67);
    animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
    from {
        transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }

    to {
        transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
}

#ring:nth-child(3) {
    border-bottom: 8px solid rgb(3, 170, 170);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
    from {
        transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }

    to {
        transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
}

#ring:nth-child(4) {
    border-bottom: 8px solid rgb(207, 135, 1);
    animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
    from {
        transform: rotateX(70deg) rotateZ(270deg);
    }

    to {
        transform: rotateX(70deg) rotateZ(630deg);
    }
}

/* Improving visualization in light mode */