@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'surahnames';
    src: url('./assets/fonts/sura_names.woff2') format('truetype');
}

@font-face {
    font-family: 'P-1';
    src: url('./assets/fonts/p1.woff2') format('truetype');
}

@font-face {
    font-family: 'quran-font';
    src: url('./assets/fonts/QuranSurah02-d9lVZ.ttf') format('truetype');
}

@font-face {
    font-family: "NotoNastaliq";
    src: local("Noto Naskh Arabic"), local("Nafees Regular"),
        url("./assets/fonts/NotoNaskhArabic-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ProximaVara";
    src: url("./assets/fonts/ProximaVara.woff2");
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    direction: rtl;
    padding-top: 117px;
    font-family: "Noto Nastaliq Arabic", "NotoNastaliq", "ProximaVara",
        "Helvetica Neue", Helvetica, Arial;
    color: #e7e9ea;
    overflow-x: hidden;
    background-color: #1f2125;
}

.select ul {
    background: #1f2125;
    border: none;
    border-bottom: #2ca4ab solid 1px;
    box-shadow: none;
}


.toggleAudio:hover,
.social_icons:hover,
.download:hover,
.select ul li:hover:not([data-selected='true']),
.previous_surah:hover,
.next_surah:hover,
.book--buttons:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
}

.select ul li {
    margin-bottom: 8px;
}

.select ul li:hover,
.select ul li[data-selected='true'] {
    background-color: #2ca4ab;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    background: #eeeeeecc;
}

::-webkit-scrollbar-thumb {
    background: #2ca4ab;
}

.select ul::-webkit-scrollbar {
    width: 6px;
}

.select ul::-webkit-scrollbar-thumb {
    background-color: #2ca4ab;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

/* Loader  */

.loader div {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    animation: fade458 1s linear infinite;
}

@keyframes fade458 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}